body{
    background-color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    color: white;
    background-color: black;
    border: 1px solid yellow;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 8px 8px 16px rgba(0, 123, 225, 0.4);
    transition: box-shadow 0.3 ease;
    padding: .7rem;
}

button:hover{
    box-shadow: 0 12px 24px rgba(0, 123, 225, 0.6);
}