*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#navbar{
    background-color: #111;
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    gap: 20px;
}

#navbar a{
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

#navbar a:hover{
    color: #fff;
}

#navbar a.active{
    color: #69b06c;
    font-weight: bold;
}